<form class="form main" [formGroup]="form">
  <div class="form-group row">
    <label for="key" class="col-lg-2 col-md-3 col-sm-4 text-truncate col-form-label col-form-label-sm">key</label>
    <div class="col-sm">
      <input formControlName="key" id="key" type="text" class="form-control form-control-sm" readonly>
    </div>
  </div>

  <ng-container *ngFor="let field of fields; let i = index">

    <app-text-control *ngIf="field.type === 'locale'" [formControlName]="field.name" [label]="field.name"
      [key]="field.name" [textFieldType]="field.textFieldType" [value]="item ? item[field.name] : ''"
      (valueChange)="valueChange($event)"></app-text-control>

    <div *ngIf="field.type === 'string'" class="form-group row">
      <label [for]="field.name"
        class="col-lg-2 col-md-3 col-sm-4 text-truncate col-form-label col-form-label-sm">{{field.name}}</label>
      <div class="col-sm">
        <textarea *ngIf="field.textFieldType === 'textarea'" [formControlName]="field.name" [id]="field.name"
          type="text" class="form-control form-control-sm"></textarea>
        <input *ngIf="field.textFieldType !== 'textarea'" [formControlName]="field.name" [id]="field.name" type="text"
          class="form-control form-control-sm">

      </div>
    </div>

    <app-locale-file-control *ngIf="field.type === 'asset'" [label]="field.name" [itemId]="id" [key]="field.name"
      [asset]="getAsset(field.name)">
    </app-locale-file-control>

    <div class="form-group row" *ngIf="field.type === 'regions'">
      <label [for]="key"
        class="col-lg-2 col-md-3 col-sm-4 text-truncate col-form-label col-form-label-sm">{{field.name}}</label>
      <div class="col-sm">
        <input [formControlName]="field.name" [id]="field.name" type="text" class="form-control form-control-sm"
          autocomplete="off" readonly>
      </div>
      <div class="col-auto pl-0">
        <button class="btn btn-light btn-sm" (click)="selectRegions(field.name)">
          <i class="fas fa-globe-europe"></i>
        </button>
      </div>
    </div>
    <div class="form-group row" *ngIf="field.type === 'objectPicker'">
      <label [for]="key"
        class="col-lg-2 col-md-3 col-sm-4 text-truncate col-form-label col-form-label-sm">{{field.name}}</label>
      <div class="col-sm">
        <textarea [formControlName]="field.name" [id]="field.name" class="form-control form-control-sm"
          autocomplete="off" readonly></textarea>
      </div>
      <div class="col-auto pl-0">
        <button class="btn btn-light btn-sm" (click)="selectDataObject(field.name, field.pickerDocType)">
          <i class="fas fa-list"></i>
        </button>
      </div>
    </div>

  </ng-container>

  <hr style="color: #dee2e6; margin-top: 2rem">
  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-primary" (click)="save()"
        [disabled]="form.pristine || !form.valid || saveDisabled">{{ saveLabel || 'Save' }}</button>
    </div>
  </div>
</form>