<div class="modal-header">
    <h4 class="modal-title pull-left">{{ title || 'Add New' }}</h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>

</div>
<div class="modal-body">
    <form class="form main">
        <div class="form-group row">
            <label for="key" class="col-2 col-form-label col-form-label-sm">Key</label>
            <div class="col-sm">
                <input [(ngModel)]="key" id="key" name="key" type="text" class="form-control form-control-sm" autocomplete="off">
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
    <button type="button" class="btn btn-light" (click)="bsModalRef.hide()">Cancel</button>
</div>
