<div class="modal-header">
    <h4 class="modal-title pull-left">Available Regions</h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row" style="padding:0 20px 0px 20px">
        <div class="col">
            <input type="text" [(ngModel)]="filter" class="form-control" placeholder="Filter">
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-light col" (click)="selectAll()">Select All</button>
        <button type="button" class="btn btn-light col" (click)="selectNone()">Select None</button>
    </div>
    <form class="form main row" [formGroup]="form">
        <div class="form-group col-6 col-md-3" style="padding:0 20px 0px 20px" *ngFor="let region of regions">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" [formControlName]="region.code" class="custom-control-input"
                    [id]="'region' + region.code">
                <label class="custom-control-label" [for]="'region' + region.code">{{region.name}}</label>
          </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!form.valid">Save</button>
    <button type="button" class="btn btn-light" (click)="bsModalRef.hide()">Cancel</button>
</div>