<div class="modal-header">
    <h4 class="modal-title pull-left">All Labels</h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row" style="padding:0 20px 0px 20px">
        <div class="col">
            <input type="text" [(ngModel)]="filter" class="form-control" placeholder="Filter">
        </div>
    </div>
    <form class="form main row" [formGroup]="form">
        <div class="form-group col-6 col-md-3" style="padding:0 20px 0px 20px" *ngFor="let dataObject of dataObjects">
              <div class="custom-control custom-checkbox">
                <input type="checkbox" [formControlName]="dataObject.key" class="custom-control-input"
                    [id]="dataKey(dataObject.key)">
                <label class="custom-control-label" [for]="dataKey(dataObject.key)">{{dataObject.key}}</label>
          </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()" [disabled]="!form.valid">Save</button>
    <button type="button" class="btn btn-light" (click)="bsModalRef.hide()">Cancel</button>
</div>