<div class="form-group row" [formGroup]="form">
    <label for="default"
        class="col-lg-2 col-md-3 col-sm-4 text-truncate col-form-label col-form-label-sm">{{ label }}</label>

    <div class="col-sm custom-file small" style="margin-left:15px">
        <input type="file" class="custom-file-input form-control form-control-sm" id="customFileDefault"
            formControlName="fileInput" (change)="fileChange($event)">
        <label class="custom-file-label" for="customFileDefault" [innerHTML]="form.get('fileInputText').value">
            Choose file
        </label>
    </div>

    <div class="col-auto" *ngIf="!form.get('file').value">
        <a [href]="form.get('value').value" target="_blank" rel="noopener">
            <button type="button" class="btn btn-light btn-sm" tabindex="-1" [disabled]="!form.get('value').value">
                <i class="fas fa-eye"></i> View
            </button>
        </a>
        <button class="btn btn-light btn-sm ml-2" (click)="edit(key)">
            <i class="fas fa-globe"></i>
        </button>
    </div>

    <div class="col-auto" *ngIf="form.get('file').value">
        <button class="btn btn-light btn-sm" (click)="upload($event)">
            <i class="fas fa-upload"></i>
        </button>
        <button class="btn btn-light btn-sm ml-2" (click)="reset()">
            <i class="fas fa-undo"></i>
        </button>
    </div>
</div>