<div class="form-group row">
    <label [for]="key"
        class="col-lg-2 col-md-3 col-sm-4 text-truncate col-form-label col-form-label-sm">{{label}}</label>
    <div class="col-sm">
        <textarea *ngIf="textFieldType === 'textarea'"  [id]="key" type="text" class="form-control form-control-sm" autocomplete="off" [value]="defaultValue"
            (change)="onChange($event.target.value)" (keyup)="onChange($event.target.value)" (blur)="onTouched()"></textarea>
        <input *ngIf="textFieldType !== 'textarea'" [id]="key" type="text" class="form-control form-control-sm" autocomplete="off" [value]="defaultValue"
            (change)="onChange($event.target.value)" (keyup)="onChange($event.target.value)" (blur)="onTouched()">
    </div>
    <div class="col-auto pl-0">
        <button class="btn btn-light btn-sm" (click)="editLocalisations()">
            <i class="fas fa-globe"></i>
        </button>
    </div>
</div>