<div class="modal-header">
    <h4 class="modal-title pull-left">Edit Text / <span
            style="color:#999">{{form.controls.key.value || 'Add New'}}</span></h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>
</div>
<div class="modal-body">

    <form class="form main" [formGroup]="form">
        <div class="form-group row">
            <label for="key" class="col-2 col-form-label col-form-label-sm">Key</label>
            <div class="col">
                <input formControlName="key" id="key" type="text" class="form-control form-control-sm"
                    [readonly]="!isNew" [ngClass]="{ 'is-invalid': isInvalid('key') }">
            </div>
        </div>
        <div class="form-group row">
            <label for="default" class="col-2 col-form-label col-form-label-sm">Default</label>
            <div class="col">
                <textarea *ngIf="textFieldType === 'textarea'" formControlName="default" id="default" type="text" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': isInvalid('default') }" rows="1"></textarea>
                <input *ngIf="textFieldType !== 'textarea'" formControlName="default" id="default" type="text" class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': isInvalid('default') }">
            </div>
            <div *ngIf="isObjectPicker()" class="col-auto">
                <button type="button" class="btn btn-light btn-sm" (click)="loadPickerForDefaultField()" tabindex="-1"><i
                        class="far fa-list-alt"></i></button>
            </div>
        </div>

        <div class="row p-2" *ngIf="localisations?.controls.length > 0">
            <div class="col-3 small font-weight-bold ">Region</div>
            <div class="col-3 small font-weight-bold">Language</div>
            <div class="col small font-weight-bold">Text</div>
        </div>

        <div class="form-group form-row" formArrayName="localisations"
            *ngFor="let group of localisations?.controls; let i = index">
            <ng-container [formGroupName]="i">
                <div class="col-3">
                    <div class="input-group input-group-sm">
                        <input #regionElement formControlName="region" type="text" [typeahead]="locale.regions"
                            typeaheadOptionField="name" [typeaheadHideResultsOnBlur]="false"
                            [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="10"
                            (typeaheadOnSelect)="onRegionSelect($event, i)"
                            (typeaheadNoResults)="onRegionSelect(null, i)" (focus)="$event.target.select()"
                            class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': isInvalid('localisations.' + i + '.region') }">
                        <div class="input-group-append">
                            <input type="text" formControlName="regionCode" class="input-group-text" style="width:40px"
                                readonly tabindex="-1">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group input-group-sm">
                        <input formControlName="language" type="text" [typeahead]="locale.languages"
                            typeaheadOptionField="name" [typeaheadHideResultsOnBlur]="false"
                            [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="10"
                            (typeaheadOnSelect)="onLanguageSelect($event, i)"
                            (typeaheadNoResults)="onLanguageSelect(null, i)" (focus)="$event.target.select()"
                            class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': isInvalid('localisations.' + i + '.language') }">
                        <div class="input-group-append">
                            <input type="text" formControlName="languageCode" class="input-group-text"
                                style="width:60px" readonly tabindex="-1">
                        </div>
                    </div>
                </div>
                <div class="col">
                    <textarea *ngIf="textFieldType === 'textarea'" formControlName="value" type="text" class="form-control form-control-sm"
                    [ngClass]="{ 'is-invalid': isInvalid('localisations.' + i + '.value') }" rows="1"></textarea>
                    <input *ngIf="textFieldType !== 'textarea'" formControlName="value" type="text" class="form-control form-control-sm"
                    [ngClass]="{ 'is-invalid': isInvalid('localisations.' + i + '.value') }">
                </div>
                <div *ngIf="isObjectPicker()" class="col-auto">
                    <button type="button" class="btn btn-light btn-sm" (click)="loadPickerForLocalField(i)" tabindex="-1"><i
                            class="far fa-list-alt"></i></button>
                </div>
                <div class="col-auto">
                    <button type="button" class="btn btn-light btn-sm" (click)="deleteLocalisation(i)" tabindex="-1"><i
                            class="far fa-trash-alt"></i></button>
                </div>
            </ng-container>
        </div>

        <button class="btn btn-light btn-sm" (click)="addLocalisation()"><i class="fas fa-plus"></i> Add</button>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="close()" [disabled]="!form.valid">Save</button>
    <button type="button" class="btn btn-light" (click)="bsModalRef.hide()">Cancel</button>
</div>