.topnav {
    margin-bottom: 15px;
}

.development-bg-col {
  background-color: #ff3500;
}
.development-nav > a.nav-link{
  color: #ff3500;
}
.development-nav > a.nav-link.active{
  color: white;
  background-color: #ff3500;
}

.local-bg-col {
  background-color: #00a2ff;
}
.local-nav > a.nav-link{
  color: #00a2ff;
}
.local-nav > a.nav-link.active{
  color: white;
  background-color: #00a2ff;
}

.staging-bg-col {
  color: #3c3c46;
  background-color: #ffd200;
}
.staging-nav {
  background-color:#3c3c46;
}
.staging-nav > a.nav-link{
  color: #ffd200;
}
.staging-nav > a.nav-link.active{
  color: black;
  background-color: #ffd200;
}

.hotfix-bg-col {
  background-color: #008500;
}
.hotfix-nav > a.nav-link{
  color: #008500;
}
.hotfix-nav > a.nav-link.active{
  color: white;
  background-color: #008500;
}

.production-bg-col {
  background-color: #3c3c46;
}
.production-nav > a.nav-link{
  color: #3c3c46;
}
.production-nav > a.nav-link.active{
  color: white;
  background-color: #3c3c46;
}

.hud-bg-col {
  background-color: #ff0080;
}
.hud-nav > a.nav-link{
  color: #ff0080;
}
.hud-nav > a.nav-link.active{
  color: white;
  background-color: #ff0080;
}
