<nav class="navbar topnav navbar-dark {{envName}}-bg-col">
  <a class="navbar-brand" href="#">
    <img src="/assets/lwl-logo.png" width="40" height="39" class="d-inline-block align-top" alt="">
    <span class="navbar-brand ml-2 h1" style="margin-bottom:0; font-family: 'Nunito', serif;">Living Wine
      Labels / CMS - {{envName}} </span>
  </a>
  <span class="navbar-text" *ngIf="authEnabled">
    {{ adal.LoggedInUserEmail || 'Not logged in' }} | <a (click)="logout()" style="cursor:pointer;">Logout</a>
  </span>
</nav>
<div class="container-fluid">
  <div class="alert alert-dark" role="alert" *ngIf="!formsEnabled">
    Read only mode active. Changes will not be saved.
  </div>

  <div class="row">

    <div class="col-auto d-none d-md-block">
      <div class="nav flex-column nav-pills {{envName}}-nav">
        <a class="nav-link" data-toggle="pill" routerLink="/app-config" routerLinkActive="active">App Config</a>
        <a class="nav-link" data-toggle="pill" routerLink="/experience" routerLinkActive="active">Experiences</a>
        <a class="nav-link" data-toggle="pill" routerLink="/language" routerLinkActive="active">Languages</a>
        <a class="nav-link" data-toggle="pill" routerLink="/label" routerLinkActive="active">Labels</a>
        <a class="nav-link" data-toggle="pill" routerLink="/promotion" routerLinkActive="active">Promotions</a>
        <a class="nav-link" data-toggle="pill" routerLink="/varietal" routerLinkActive="active">Varietals</a>
        <a class="nav-link" data-toggle="pill" routerLink="/tasting-note" routerLinkActive="active">Tasting Notes</a>
        <a class="nav-link" data-toggle="pill" routerLink="/recipe" routerLinkActive="active">Recipes</a>
        <a class="nav-link" data-toggle="pill" routerLink="/theme" routerLinkActive="active">Themes</a>
        <a class="nav-link" data-toggle="pill" routerLink="/region-group" routerLinkActive="active">Region Groups</a>
        <a class="nav-link" data-toggle="pill" routerLink="/varietal-data" routerLinkActive="active">Varietal HUD Data</a>
        <a class="nav-link disabled" data-toggle="pill" routerLink="/tools" routerLinkActive="active">Tools</a>
      </div>
    </div>

    <div class="col">
      <router-outlet></router-outlet>
    </div>

  </div>