<div class="col-auto d-none d-md-block">
  <div class="nav flex-column nav-pills {{envName}}-nav">
    <a class="nav-link" data-toggle="pill" routerLink="/varietal-info" routerLinkActive="active">Varietal Info (Group of below data types)</a>
    <a class="nav-link" data-toggle="pill" routerLink="/varietal-pairing" routerLinkActive="active">Varietal Pairing</a>
    <a class="nav-link" data-toggle="pill" routerLink="/varietal-tip-fact" routerLinkActive="active">Varietal Tips & Facts</a>
    <a class="nav-link" data-toggle="pill" routerLink="/varietal-tasting" routerLinkActive="active">Varietal Tasting Icons</a>
    <a class="nav-link" data-toggle="pill" routerLink="/varietal-extra-icon" routerLinkActive="active">Extra Info Icons</a>
  </div>
</div>