<div class="row" style="padding:20px">
    <div class="col">
        <input type="text" [(ngModel)]="filter" class="form-control" placeholder="Filter">
    </div>
</div>

<div style="padding:0 20px 20px 20px">
    <table class="table table-borderless table-striped table-sm">
        <tbody>
            <tr *ngFor="let key of keys" class="localisation-row">
                <td class="col align-middle small pl-3" (click)="edit(key)" style="cursor: pointer">{{ key }}</td>
                <td>
                    <button type="button" class="btn btn-light btn-sm" (click)="edit(key)" tabindex="-1">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-light btn-sm" (click)="delete(key)" tabindex="-1">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-light btn-sm" (click)="edit()"><i class="fas fa-plus"></i> Add</button>
</div>