<tabset>
  <tab heading={{customSortTitle}} *ngIf="showCustomSortTab" active="true">
    <div class="row" style="padding:0 20px 20px 20px">
      <div class="col-2">
        <button class="btn btn-light btn-sm" (click)="add()"><i class="fas fa-plus"></i> Add</button>
      </div>
      <div class="col">
        <input type="text" [(ngModel)]="filter" class="form-control" placeholder="Filter">
      </div>
    </div>

    <div style="padding:0 20px 20px 20px">
      <p>Total: {{ customSortKeys.length }}</p>
      <table class="table table-borderless table-striped table-sm">
        <tbody>
          <tr *ngFor="let key of customSortKeys" class="localisation-row">
            <td class="col align-middle small pl-3" (click)="edit(key)" style="cursor: pointer">{{ key }}</td>
            <td>
              <button type="button" class="btn btn-light btn-sm" tabindex="-1">
                <a href="{{getListItemURL(key)}}"><i class="fas fa-link"></i></a>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-light btn-sm" (click)="edit(key)" tabindex="-1">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-light btn-sm" (click)="delete(key)" tabindex="-1">
                <i class="far fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-light btn-sm" (click)="add()"><i class="fas fa-plus"></i> Add</button>
    </div>
  </tab>

  <tab heading="Alphabetical">
    <div class="row" style="padding:0 20px 20px 20px">
      <div class="col-2">
        <button class="btn btn-light btn-sm" (click)="add()"><i class="fas fa-plus"></i> Add</button>
      </div>
      <div class="col">
        <input type="text" [(ngModel)]="filter" class="form-control" placeholder="Filter">
      </div>
    </div>

    <div style="padding:0 20px 20px 20px">
      <p>Total: {{ keys.length }}</p>
      <table class="table table-borderless table-striped table-sm">
        <tbody>
          <tr *ngFor="let key of keys" class="localisation-row">
            <td class="col align-middle small pl-3" (click)="edit(key)" style="cursor: pointer">{{ key }}</td>
            <td>
              <button type="button" class="btn btn-light btn-sm" tabindex="-1">
                <a href="{{getListItemURL(key)}}"><i class="fas fa-link"></i></a>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-light btn-sm" (click)="edit(key)" tabindex="-1">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-light btn-sm" (click)="delete(key)" tabindex="-1">
                <i class="far fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-light btn-sm" (click)="add()"><i class="fas fa-plus"></i> Add</button>
    </div>
  </tab>

  <tab heading="By Region" *ngIf="showListByRegionTab">
    <div style="padding:0 20px 20px 20px">
      <table class="table table-borderless table-striped table-sm" *ngFor="let loc of dataByRegion | keyvalue">
        <thead class="localisation-row">
          <tr>
            <th> {{ loc.key }} - {{ regionNameFromKey(loc.key) }} </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dataOfLoc of loc.value">
            <td class="col align-middle small pl-3" (click)="edit(dataOfLoc.key)" style="cursor: pointer">
              {{ dataOfLoc.key }}</td>
            <td>
              <button type="button" class="btn btn-light btn-sm" tabindex="-1">
                <a href="{{getListItemURL(key)}}"><i class="fas fa-link"></i></a>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-light btn-sm" (click)="edit(dataOfLoc.key)" tabindex="-1">
                <i class="fas fa-pencil-alt"></i>
              </button>
            </td>
            <td>
              <button type="button" class="btn btn-light btn-sm" (click)="delete(dataOfLoc.key)" tabindex="-1">
                <i class="far fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </tab>
</tabset>
