<div class="modal-header">
    <h4 class="modal-title pull-left">Edit File / <span style="color:#999">{{ id }}</span> / <span
            style="color:#999">{{form.controls.key.value || 'Add New'}}</span></h4>
    <button type="button" class="close pull-right" (click)="bsModalRef.hide()">
        <span>&times;</span>
    </button>
</div>

<div class="modal-body">

    <form class="form main" [formGroup]="form">
        <div class="form-group row">
            <label for="key" class="col-2 col-form-label col-form-label-sm">Key</label>
            <div class="col">
                <input formControlName="key" id="key" type="text" autocomplete="off" class="form-control form-control-sm"
                    [readonly]="!isNew" [ngClass]="{ 'is-invalid': isInvalid('key') }" [readonly]="isKeySet">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-light btn-sm" tabindex="-1" (click)="setKey()" *ngIf="!isKeySet">
                    Save
                </button>
            </div>
        </div>
        <div class="form-group row" *ngIf="isKeySet">
            <label for="default" class="col-2 col-form-label col-form-label-sm">Default</label>

            <div class="col-4 custom-file small" style="margin-left:15px">
                <input type="file" class="custom-file-input form-control form-control-sm" id="customFileDefault"
                    formControlName="fileInput" (change)="fileChange($event.target.files[0])">
                <label class="custom-file-label" for="customFileDefault" [innerHTML]="form.get('fileInputText').value">
                    Choose file
                </label>
            </div>

            <div class="col-auto" *ngIf="!form.get('file').value">
                <a [href]="form.get('value').value" target="_blank" rel="noopener">
                    <button type="button" class="btn btn-light btn-sm" tabindex="-1" [disabled]="!form.get('value').value">
                        <i class="fas fa-eye"></i> View
                    </button>
                </a>
            </div>

            <div class="col-auto" *ngIf="form.get('file').value">
                <button class="btn btn-light btn-sm" (click)="uploadFile($event)">
                    <i class="fas fa-upload"></i>
                </button>
                <button class="btn btn-light btn-sm ml-2" (click)="undoFile()">
                    <i class="fas fa-undo"></i>
                </button>
            </div>
        </div>

        <div class="row p-2" *ngIf="localisations?.controls.length > 0">
            <div class="col-3 small font-weight-bold ">Region</div>
            <div class="col-3 small font-weight-bold">Language</div>
            <div class="col small font-weight-bold">File</div>
        </div>

        <div class="form-group form-row" formArrayName="localisations"
            *ngFor="let group of localisations?.controls; let i = index">
            <ng-container [formGroupName]="i">
                <div class="col-3">
                    <div class="input-group input-group-sm">
                        <input #regionElement formControlName="region" type="text" [typeahead]="locale.regions"
                            typeaheadOptionField="name" [typeaheadHideResultsOnBlur]="false"
                            [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="10"
                            (typeaheadOnSelect)="onRegionSelect($event, i)"
                            (typeaheadNoResults)="onRegionSelect(null, i)" (focus)="$event.target.select()"
                            class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': isInvalid('localisations.' + i + '.region') }">
                        <div class="input-group-append">
                            <input type="text" formControlName="regionCode" class="input-group-text" style="width:40px"
                                readonly tabindex="-1">
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="input-group input-group-sm">
                        <input formControlName="language" type="text" [typeahead]="locale.languages"
                            typeaheadOptionField="name" [typeaheadHideResultsOnBlur]="false"
                            [typeaheadScrollable]="true" [typeaheadOptionsInScrollableView]="10"
                            (typeaheadOnSelect)="onLanguageSelect($event, i)"
                            (typeaheadNoResults)="onLanguageSelect(null, i)" (focus)="$event.target.select()"
                            class="form-control form-control-sm"
                            [ngClass]="{ 'is-invalid': isInvalid('localisations.' + i + '.language') }">
                        <div class="input-group-append">
                            <input type="text" formControlName="languageCode" class="input-group-text"
                                style="width:60px" readonly tabindex="-1">
                        </div>
                    </div>
                </div>

                <div class="col custom-file small ml-1">
                    <input type="file" class="custom-file-input" id="customFile" formControlName="fileInput"
                        (change)="fileChange($event.target.files[0], i)">
                    <label class="custom-file-label" for="customFile"
                        [innerHTML]="localisations.get(i+'.fileInputText').value">Choose file</label>
                </div>

                <div class="col-auto" *ngIf="localisations.get(i+'.file').value">
                    <button class="btn btn-light btn-sm ml-1" (click)="uploadFile($event, i)">
                        <i class="fas fa-upload"></i>
                    </button>
                    <button class="btn btn-light btn-sm ml-2" (click)="undoFile(i)">
                        <i class="fas fa-undo"></i>
                    </button>
                </div>

                <div class="col-auto" *ngIf="!localisations.get(i+'.file').value">
                    <a [href]="localisations.get(i+'.value').value" target="_blank" rel="noopener">
                        <button type="button" class="btn btn-light btn-sm" tabindex="-1" style="width:76px" [disabled]="!localisations.get(i+'.value').value">
                            <i class="fas fa-eye"></i> View
                        </button>
                    </a>
                </div>

                <div class="col-auto">
                    <button type="button" class="btn btn-light btn-sm" (click)="deleteFile(i)" tabindex="-1">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </div>
            </ng-container>
        </div>

        <button class="btn btn-light btn-sm" (click)="addLocalisation()" *ngIf="isKeySet">
            <i class="fas fa-plus"></i> Add
        </button>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="bsModalRef.hide()">Close</button>
</div>