<div class="form-group row">
    <label [for]="key"
        class="col-lg-2 col-md-3 col-sm-4 text-truncate col-form-label col-form-label-sm">{{label}}</label>
    <div class="col-sm">
        <select class="form-control form-control-sm" [id]="key" (change)="onChange($event.target.value)">
            <option
                [selected]="value ? item.value === value : item.value === defaultValue"
                [value]="item.value"
                *ngFor="let item of dropdownValues | keyvalue">
                    {{ item.key }}
            </option>
        </select>
    </div>
</div>